@{
    Layout = $"~/Views/Shared/_LayoutShortBlack.cshtml";
    ViewData["Title"] = "Ínicio";
}

<div class="gray-square" style="width: 80%;">
    <div class="margin-b-40 center">
        <img class="profile-img" src="https://images.unsplash.com/photo-1511367461989-f85a21fda167?ixid=MnwxMjA3fDB8MHxzZWFyY2h8M3x8cHJvZmlsZXxlbnwwfHwwfHw%3D&ixlib=rb-1.2.1&w=1000&q=80">
        <h1 class="center-text">Teste</h1>
    </div>
</div>
