@{
    Layout = "~/Views/Shared/GuestLayout.cshtml";
    ViewData["Title"] = "Test Page";
}
<div class="login">
<form>
    <div class="margin-b-40" style="position: absolute; top: 20%; width: 40%; margin-left: 10%;">
        <h1>Entrar</h1>
        <input type="text" class="form-control form-input" placeholder="Email" required />
        <input type="password" class="form-control form-input" placeholder="Senha"  required />
        <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase form-button">Entrar</button>
    </div>
</form>
</div>