@{
    Layout = "~/Views/Shared/GuestLayout.cshtml";
    ViewData["Title"] = "Test Page";
}
<div class="login">
    <form>
        <div class="margin-b-40" style="position: absolute; top: 20%; width: 40%; margin-left: 10%;">
            <h1>Cadastro</h1>
            <input type="text" class="form-control form-input" placeholder="Email" required />
            <input type="password" class="form-control form-input" placeholder="Senha" required />
            <div style="width: 100%; display: flex;">
                <input type="text" class="form-control form-input half-1" placeholder="Nome" required />
                <input type="text" class="form-control form-input half-2" placeholder="Sobrenome" required />
            </div>
            <input type="text" class="form-control form-input" placeholder="CPF" required />
            <div style="width: 100%; display: flex;">
                <input type="text" class="form-control form-input half-1" placeholder="CEP" required />
                <input type="date" class="form-control form-date half-2" placeholder="Data Nascimento" required />
            </div>
            <p class="margin-topbottom-15">Já possui uma conta? <a asp-controller="test" asp-action="signin">Entre aqui</a></p>
            <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase form-button">Cadastrar</button>

        </div>
    </form>
</div>