@{
    Layout = "~/Views/Shared/GuestLayout.cshtml";
    ViewData["Title"] = "Entrar";
}
<div class="black-background full-height">
<form>
    <div class="margin-b-40" style="position: absolute; top: 20%; width: 40%; margin-left: 10%;">
        <h1>Entrar</h1>
        <input type="text" class="form-control form-input" placeholder="Email" required />
        <input type="password" class="form-control form-input" placeholder="Senha"  required />
        <p class="margin-topbottom-15">Ainda não possui uma conta? <a asp-controller="signup" asp-action="candidate">Crie aqui</a></p>
        <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase form-button">Entrar</button>
    </div>
</form>
</div>