@{
    Layout = "~/Views/Shared/GuestShortLayout.cshtml";
    ViewData["Title"] = "Cadastrar";
}
<div style="width: 100%;">
    <div class="margin-b-40" style="margin-top: 10%; width: 40%; margin-left: 30%;">
        <h1>Entrar</h1>
        <input type="text" class="form-control form-input" placeholder="Email" required />
        <input type="password" class="form-control form-input" placeholder="Senha" required />
        <p class="margin-topbottom-15">Ainda não possui uma conta? <a asp-controller="signup" asp-action="index">Crie aqui</a></p>
        <button type="submit" class="btn-theme btn-theme-sm btn-base-bg text-uppercase form-button">Entrar</button>
    </div>
</div>