@{
    Layout = $"~/Views/Shared/_LayoutFooterHidden.cshtml";
    ViewData["Title"] = "Perfil";
}

<form method="post" style="width: 100%">
    <div class="grid-resume shadow" style="padding-bottom: 125px !important; padding-top: 125px !important;">
        <div class="content-lg container resume-item">
            <div class="margin-b-40" style="width: 60%; margin-left: auto; margin-right: auto">
                <h1 class="resume-category">INFORMAÇÕES</h1>
                <input type="text" class="form-control resume-input" name="Title" placeholder="Título" required />
                <input type="text" class="form-control resume-input" name="Description" placeholder="Descrição" required />
                <div style="display: flex;">
                    <input type="text" class="form-control resume-input" name="AvaibleVacancy" placeholder="Vagas Disponíveis" required />
                    <input type="text" onfocus="(this.type='date')" class="form-control resume-date half-2" name="ExpiredDate" placeholder="Data Limite" required />
                </div>
            </div>
        </div>

        <div class="content-lg container resume-item">
            <div class="margin-b-40" style="width: 60%; margin-left: auto; margin-right: auto">
                <h1 class="resume-category">REQUISITOS</h1>
                <select class="form-control resume-input cmb" style="color: #a6a7aa" name="SkillRequired" id="skills" multiple>
                    <option value="None">None</option>
                    <option value="CSharp">CSharp</option>
                    <option value="Java">C</option>
                    <option value="JavaScript">JavaScript</option>
                    <option value="Ruby">Ruby</option>
                    <option value="Phyton">Phyton</option>
                    <option value="Cobol">Cobol</option>
                    <option value="PHP">PHP</option>
                    <option value="Algol">Algol</option>
                    <option value="CPlusPlus">CPlusPlus</option>
                    <option value="C">C</option>
                    <option value="VB">VB</option>
                    <option value="Delphi">Delphi</option>
                    <option value="Pascal">Pascal</option>
                    <option value="MathLab">MathLab</option>
                    <option value="Genexus">Genexus</option>
                    <option value="HTML">HTML</option>
                    <option value="Flutter">Flutter</option>
                    <option value="SmallTalk">SmallTalk</option>
                    <option value="Basic">Basic</option>
                    <option value="Fortran">Fortran</option>
                    <option value="Swift">Swift</option>
                    <option value="ADONet">ADONet</option>
                    <option value="EF">EF</option>
                    <option value="DDD">DDD</option>
                    <option value="MicroService">MicroService</option>
                    <option value="TDD">TDD</option>
                    <option value="Subsonic">Subsonic</option>
                    <option value="NHibernate">NHibernate</option>
                    <option value="Hibernate">Hibernate</option>
                    <option value="Docker">Docker</option>
                    <option value="Kubernets">Kubernets</option>
                    <option value="Angular">Angular</option>
                    <option value="React">React</option>
                    <option value="VUEJS">VUEJS</option>
                </select>

                <select class="form-control resume-input cmb" style="color: #a6a7aa" name="LanguagesRequired" id="idioms" multiple="multiple">
                    <option value="Inglês">Inglês</option>
                    <option value="Português">Português</option>
                    <option value="Espanhol">Espanhol</option>
                    <option value="Francês">Francês</option>
                    <option value="Africâner">Africâner</option>
                    <option value="Albanês">Albanês</option>
                    <option value="Alemão">Alemão</option>
                    <option value="Amárico">Amárico</option>
                    <option value="Árabe">Árabe</option>
                    <option value="Armênio">Armênio</option>
                    <option value="Azerbaijano">Azerbaijano</option>
                    <option value="Basco">Basco</option>
                    <option value="Bengali">Bengali</option>
                    <option value="Bielorrusso">Bielorrusso</option>
                    <option value="Birmanês">Birmanês</option>
                    <option value="Bósnio">Bósnio</option>
                    <option value="Búlgaro">Búlgaro</option>
                    <option value="Canarim">Canarim</option>
                    <option value="Catalão">Catalão</option>
                    <option value="Cazaque">Cazaque</option>
                    <option value="Cebuano">Cebuano</option>
                    <option value="Chinês">Chinês</option>
                    <option value="Cingalês">Cingalês</option>
                    <option value="Coreano">Coreano</option>
                    <option value="Corso">Corso</option>
                    <option value="Croata">Croata</option>
                    <option value="Curdo">Curdo</option>
                    <option value="Dinamarquês">Dinamarquês</option>
                    <option value="Eslovaco">Eslovaco</option>
                    <option value="Esloveno">Esloveno</option>
                    <option value="Esperanto">Esperanto</option>
                    <option value="Estoniano">Estoniano</option>
                    <option value="Filipino">Filipino</option>
                    <option value="Finlandê">Finlandê</option>
                    <option value="FrísioOcidental">FrísioOcidental</option>
                    <option value="GaélicoEscocês">GaélicoEscocês</option>
                    <option value="Galego">Galego</option>
                    <option value="Galês">Galês</option>
                    <option value="Georgiano">Georgiano</option>
                    <option value="Grego">Grego</option>
                    <option value="Guzerate">Guzerate</option>
                    <option value="Haitiano">Haitiano</option>
                    <option value="Hauçá">Hauçá</option>
                    <option value="Havaiano">Havaiano</option>
                    <option value="Hebraico">Hebraico</option>
                    <option value="Híndi">Híndi</option>
                    <option value="Hmong">Hmong</option>
                    <option value="Holandês">Holandês</option>
                    <option value="Húngaro">Húngaro</option>
                    <option value="Igbo">Igbo</option>
                    <option value="Iídiche">Iídiche</option>
                    <option value="Indonésio">Indonésio</option>
                    <option value="Iorubá">Iorubá</option>
                    <option value="Irlandês">Irlandês</option>
                    <option value="Islandês">Islandês</option>
                    <option value="Italiano">Italiano</option>
                    <option value="Japonês">Japonês</option>
                </select>

                <select class="form-control resume-input cmb" style="color: #a6a7aa" name="DegreesRequired" id="degree">
                    <option value="empty" disabled selected hidden>Formação</option>
                    <option value="Ensino_Fundamental">Ensino Fundamental</option>
                    <option value="Ensino_Médio">Ensino Médio</option>
                    <option value="Mestrado">Mestrado</option>
                    <option value="Doutorado">Doutorado</option>
                </select>
                <button onclick="postData()" class="btn-theme btn-theme-sm btn-base-bg text-uppercase form-button">Criar</button>
            </div>
        </div>
    </div>
</form>

@section Scripts {
<script>
    $(document).ready(function() {
        $('#skills').select2({
        placeholder: "Conhecimentos"
            });
        $('#idioms').select2({
        placeholder: "Idiomas"
            });
    });
</script>
    }