.full-height {
    height: 100% !important;
}

.signup {
    color: #FFF !important;
    background-color: #AF1100 !important;
    box-sizing: border-box !important;
    height: 32px !important;
    padding: 0 16px !important;
    line-height: 34px !important;
    border: 0 !important;
    border-radius: 9px !important;
    position: relative !important;
    margin-top: 30px !important;
}

.signup:hover {
    background-color: #680800 !important;
}

.error {
    margin-top: 5px !important;
    color: red !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    font-family: Hind,sans-serif !important;
}

.signin {
    margin-right: 5px !important;
    background-color: none !important;
    box-sizing: border-box !important;
    height: 32px !important;
    padding: 0 16px !important;
    line-height: 34px !important;
    border: 0 !important;
    border-radius: 9px !important;
    position: relative !important;
    margin-top: 30px !important;
}

.signin:hover {
    background-color: #555555 !important;
}

.fadein-effect {
    transition-duration: .3s !important;
    transition-property: all !important;
    transition-timing-function: cubic-bezier(.7,1,.7,1) !important;
}

.profile-image {
    border-radius: 100% !important;
    height: 216px !important;
    width: 216px !important;
    background-image: url(~/img/1920x1080/01.jpg) !important;
}

.black-background {
    background-image: url(/img/1920x1080/03.jpg) !important;
}

.footer {
    width: 100% !important;
    bottom: 0 !important;
}

.form-input {
    background: rgba(0,0,0,.40) !important;
    border: 0px solid #AF1100 !important;
    border-radius: 6px !important;
    color: #FFF !important;
    margin-top: 15px!important;
}

.form-input:focus {
    border: 2px solid #AF1100 !important;
}

.form-button {
    background-color: #AF1100 !important;
    border-radius: 6px!important;
    margin-top: 15px !important;
}

.form-button:hover {
    background-color: #680800!important;
}

.half-1 {
    margin-right: 7.5px
}
.half-2 {
    margin-left: 7.5px;
}

.form-date {
    padding: 6px 12px !important;
    background: rgba(0,0,0,.40) !important;
    border: 0px solid #AF1100 !important;
    border-radius: 6px !important;
    color: #FFF !important;
    margin-top: 15px !important;
}

.form-date:focus {
    border: 2px solid #AF1100 !important;
}

.btn-choose {
    display: block;
    text-align: center !important;
    background-color: #AF1100 !important;
    border-radius: 6px !important;
    padding: 6px 10px 6px 10px !important;
    margin: 15px 0 15px 0 !important;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Hind,sans-serif;
}

.btn-choose:hover {
    background-color: #680800!important;
    color: #FFF;
}

.margin-topbottom-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

form {
    margin: auto;
    width: 60%;
}

h1 {
    color: #FFF !important;
}
