.full-height {
    height: 100% !important;
}

.signup {
    color: #FFF !important;
    background-color: #AF1100 !important;
    box-sizing: border-box !important;
    height: 32px !important;
    padding: 0 16px !important;
    line-height: 34px !important;
    border: 0 !important;
    border-radius: 9px !important;
    position: relative !important;
    margin-top: 30px !important;
}

.signup:hover {
    background-color: #680800 !important;
}

.center-element {
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50% !important;
}

.education {
    font-weight: 400 !important;
    padding: 16px 0 12px !important;
    border-bottom: 1px solid !important;
    display: flex !important;
}

.text-separator {
    margin-left: 20px !important;
    margin-right: 20px !important;
}

.education-top {
    font-weight: 400 !important;
    padding: 16px 0 6px !important;
    display: flex !important;
}

.right-align {
    margin-left: 250px !important;
}

.grid-template {
    background-color: #FFF !important;
    width: 80% !important;
    margin-right: auto !important;
    margin-left: auto !important;
    border: 2px solid !important;
    border-color: #E2E1DF !important;
}

.skill {
    padding: 16px 0 12px;
    border-bottom: 1px solid;
}

.gray-square {
    margin-top: 10% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    background-color: dimgray !important;
    border-radius: 20% !important;
}

.center {
    margin-top: 10% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    width: 50% !important;
}

.black {
    color: #333 !important;
}

.center-text {
    text-align: center;
}

.profile-img {
    width: 256px !important;
    height: 256px !important;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
}

.profile-top {
    margin-top: -180px;
    z-index: 4;
}

.error {
    margin-top: 5px !important;
    color: red !important;
    font-weight: 600 !important;
    font-size: 15px !important;
    font-family: Hind,sans-serif !important;
}

.signin {
    margin-right: 5px !important;
    background-color: none !important;
    box-sizing: border-box !important;
    height: 32px !important;
    padding: 0 16px !important;
    line-height: 34px !important;
    border: 0 !important;
    border-radius: 9px !important;
    position: relative !important;
    margin-top: 30px !important;
}

.signin:hover {
    background-color: #555555 !important;
}

.fadein-effect {
    transition-duration: .3s !important;
    transition-property: all !important;
    transition-timing-function: cubic-bezier(.7,1,.7,1) !important;
}

.profile-image {
    border-radius: 100% !important;
    height: 216px !important;
    width: 216px !important;
    background-image: url(~/img/1920x1080/01.jpg) !important;
}

.black-background {
    background-image: url(/img/1920x1080/03.jpg) !important;
}

.footer {
    width: 100% !important;
    bottom: 0 !important;
}

.form-input {
    background: rgba(0,0,0,.40) !important;
    border: 0px solid #AF1100 !important;
    border-radius: 6px !important;
    color: #FFF !important;
    margin-top: 15px!important;
}

.form-input:focus {
    border: 2px solid #AF1100 !important;
}

.form-button {
    background-color: #AF1100 !important;
    border-radius: 6px !important;
    margin-top: 15px !important;
}

.form-button-choosed {
    background-color: #333 !important;
    border-radius: 6px !important;
    margin-top: 15px !important;
    cursor: auto !important;
}

.form-button:hover {
    background-color: #680800!important;
}

.half-1 {
    margin-right: 7.5px
}
.half-2 {
    margin-left: 7.5px;
}

.form-date {
    padding: 6px 12px !important;
    background: rgba(0,0,0,.40) !important;
    border: 0px solid #AF1100 !important;
    border-radius: 6px !important;
    color: #FFF !important;
    margin-top: 15px !important;
}

.form-date:focus {
    border: 2px solid #AF1100 !important;
}

.btn-choose {
    display: block;
    text-align: center !important;
    background-color: #AF1100 !important;
    border-radius: 6px !important;
    padding: 6px 10px 6px 10px !important;
    margin: 15px 0 15px 0 !important;
    color: #FFF;
    font-weight: 600;
    font-size: 20px;
    cursor: pointer;
    text-transform: uppercase;
    font-family: Hind,sans-serif;
}

.btn-choose:hover {
    background-color: #680800!important;
    color: #FFF;
}
.shadow {
    box-shadow: rgb(0 0 0 / 55%) 0px 15px 68px !important;
}

.grid-job {
    display: grid !important;
    grid-template-rows: auto auto auto !important;
    grid-template-columns: auto auto auto !important;
    box-sizing: inherit;
}

.rounded-job {
    border-radius: 15px !important;
    box-shadow: rgb(0 0 0 / 55%) 0px 15px 68px !important;
    text-align: center !important;
    margin-left: 15px !important;
    background-color: rgb(240, 240, 240);
    width: 400px !important;
    height: 400px !important;
    max-width: 420px !important;
    max-height: 420px !important;
    margin-bottom: 15px !important;
    padding: 40px !important;
    overflow-wrap: break-word;
}

    .rounded-job:hover {
        background-color: rgb(255 255 255 / 55%);
    }

.margin-topbottom-15 {
    margin-top: 15px;
    margin-bottom: 15px;
}

form {
    margin: auto;
    width: 60%;
}

h1 {
    color: #FFF !important;
}

h2 {
    color: black !important;
}

h3 {
    font-weight: 400 !important;
}
