@{
    Layout = "~/Views/Shared/GuestShortLayout.cshtml";
    ViewData["Title"] = "Cadastrar";
}
<div style="width: 100%;">
    <div class="margin-b-40" style="margin-top: 10%; width: 40%; margin-left: 30%;">
        <h1 style="text-align: center">Quem é Você?</h1>
        <a class="wow fadeInLeft animated btn-choose fadein-effect" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" asp-controller="signup" asp-action="company">Empresa</a>
        <a class="wow fadeInLeft animated btn-choose fadein-effect" data-wow-delay=".3s" data-wow-duration=".3" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInLeft;" asp-controller="signup" asp-action="candidate">Candidato</a>
    </div>
</div>